<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>CHAT SOCKET</h1>
    <div>
        <h3>Ingrese datos del producto</h3>
        <form id="newProduct" method="post">
            Title: <input id="title" type="text" name="title" required>
            Price: <input id="price" type="number" name="price" required>
            Thumbnail : <input id="thumbnail" type="text" name="thumbnail" required>
            <button>Enviar</button>
        </form>
    </div>
    <div id="container-products">

    </div>





    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();

        const newProduct = document.getElementById('newProduct')
        newProduct.addEventListener('submit', event => {
            event.preventDefault()
            let title = document.getElementById('title').value
            let price = document.getElementById('price').value
            let thumbnail = document.getElementById('thumbnail').value
            console.log(`${title}, $${price}, ${thumbnail}`)
            socket.emit('newproduct', {
                title: title,
                price: price,
                thumbnail: thumbnail
            })
            newProduct.reset();
        })
        socket.on("connect", () => {
            console.warn("conectado al servidor");
        })

        socket.on('UpdateProduct', async (products) => {
            fetch('./views/productos.ejs')
                .then(res => {
                    return res.text()
                })
                .then(plantilla => {
                    console.log(plantilla);
                })
        })
    </script>
</body>

</html>