html
    head(lang='en')
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title="Formulario"
    body
        div
            h3 productos
            if productLength>0
                table
                    tr(style="border: 1px solid black")
                        th(style="border: 1px solid black") title
                        th(style="border: 1px solid black") price
                        th(style="border: 1px solid black") thumbnail
                    each producto in allProducts
                        tr(style="border: 1px solid black")
                            td(style="border: 1px solid black")= producto.title
                            td(style="border: 1px solid black")= producto.price
                            td(style="border: 1px solid black")= producto.thumbnail
            else
                h4 No hay productos
            a(href="/")
                button ir a formulario 